/* test */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #7289da;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

footer {
	background-color: #ddd;
	padding: 10px;
	text-align: center;
	font-size: 16px;
}
